# Web & API
fastapi
uvicorn

# PDF handling
pymupdf

# Langchain & OpenAI
openai
langchain
langchain-openai

# Streamlit UI
streamlit

# NLP & Embedding
faiss-cpu
numpy

# ORM & Database
sqlalchemy
psycopg2-binary
pydantic
python-multipart
python-dotenv
python-dateutil

# HTTP requests
requests

# Data processing
pandas
