# Web & API
fastapi
uvicorn

# Streamlit UI
streamlit

# Langchain & OpenAI
openai
langchain
langchain-openai

# PDF handling
PyMuPDF

# NLP & Embedding
faiss-cpu
numpy

# ORM & Database
sqlalchemy
pydantic
python-dotenv
python-dateutil

# HTTP requests
requests

# Data processing
pandas
